body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.logo{
    width: 5rem;
    margin-right: 0.625rem;
}

.navbar .nav-link {
    background: none !important;
}

.navbar .nav-link {
    position: relative;
    color: #000000 !important;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #43c931;
    transition: width 0.3s ease;
}

.navbar .nav-link:hover {
    color: #43c931 !important;
}

.navbar .nav-link:hover::after {
    width: 100%;
}

.nav-color{
    background-color: #ffffff;
    padding: 6px 0;
    background: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);
}



.section-container{
    border-bottom: 1px solid #0000003d;
}