:root{
    --color-text: #2f8324;
    --color-blanco: #f5f5f5;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.logo{
    width: 3rem;
    margin-right: 0.625rem;
}

span{
    color: var(--color-text);
}

.navbar .nav-link {
    background: none !important;
}

.navbar .nav-link {
    position: relative;
    color: #000000 !important;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color-text);
    transition: width 0.3s ease;
}

.navbar .nav-link:hover {
    color: var(--color-text) !important;
}

.navbar .nav-link:hover::after {
    width: 100%;
}

.nav-color{
    background-color: #fff;
    padding: 6px 0;
}



.section-container{
    border-bottom: 1px solid #0000003d;
}


.container-header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/herbalife-fondo.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.container-header h1{
    color: var(--color-blanco);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.9375rem;
}

.container-header h2{
    margin-bottom: 0.625rem;
    margin: 0px 0.9375rem;
    padding: 0.625rem;
}

.container-header p{
    line-height: 1.6;
    margin: 0px 0.9375rem;
}

.presentacion{
    color: var(--color-blanco);
}

.fondo-span{
    background-color: #202020;
}

.wsp-logo{
    width: 5rem;
}

.wsp-logo:hover{
    scale: calc(1.1);
}


.btn-scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;

    color: var(--color-blanco);
    border: 1px solid var(--color-blanco);
    border-radius: 30px;

    text-decoration: none;
    font-size: 14px;

    transition: all 0.3s ease;


}

.btn-scroll:hover {
    background: var(--color-text);
    border-color: #43c931;
    color: white;
}
