:root{
    --color-text: #2f8324;
    --color-blanco: #f5f5f5;
    --fondo-claro: #ececec;
    --color-btn: #43c931;
    --color-btn-hover: #369f28;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding-top: 70px;
}

/*HEADER*/

/* NAVBAR*/

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.hr-index{
    margin-bottom: 3rem;
}

.logo{
    width: 3rem;
    margin-right: 0.625rem;
}

span{
    color: var(--color-text);
}

.navbar .nav-link {
    background: none !important;
}

.navbar .nav-link {
    position: relative;
    color: #000000 !important;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar .nav-link:hover {
    color: var(--color-text) !important;
    background-color: var(--fondo-claro) !important;
}


.nav-color{
    background-color: #fff;
    padding: 6px 0;
}


/* HEADER */

.section-container{
    border-bottom: 1px solid #0000003d;
}


.container-header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/herbalife-fondo.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.container-header h1{
    color: var(--color-blanco);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.9375rem;
}

.container-header h2{
    margin-bottom: 0.625rem;
    margin: 0px 0.9375rem;
    padding: 0.625rem;
}

.container-header p{
    line-height: 1.6;
    margin: 0px 0.9375rem;
}

.presentacion{
    color: var(--color-blanco);
}

.fondo-span{
    background-color: #202020;
}

.wsp-logo{
    width: 3.8rem;
}

.wsp-logo:hover{
    scale: calc(1.1);
}


.btn-scroll {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    text-decoration: none;

    color: var(--color-blanco);
    border: 1px solid var(--color-blanco);
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;

}

.btn-scroll:hover {
    background: var(--color-text);
    border-color: var(--color-btn);
    color: var(--color-blanco);
}


/*MAIN*/


.index-main{
    /*margin: 1rem 2rem;*/
    margin: 5em 2em;
}
.margin-card{
    margin-bottom: 100px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1400px;
    margin: auto;
}

.card-img-custom {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1; 
    overflow: hidden;
}

/* IMAGEN */
.card-img-custom img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: brightness(0.6); 
    transition: all 0.4s ease;
}

/* HOVER (solo imagen) */
.card-img-custom:hover img {
    filter: brightness(1); 
    transform: scale(1.08); 
}

/* TEXTO EN EL MEDIO */
.img-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--color-blanco);
    font-size: 20px;
    font-weight: bold;

    pointer-events: none; 
    text-transform: uppercase;
}


.info-compra{
    background-color: var(--color-text);
    color: var(--color-blanco);
    padding: 1rem;
    padding: 0.625rem 0;
}

.beneficio{
    padding: 0 10px;
}

.icono{
    font-size: 2rem;
    margin-bottom: 15px;
}

.beneficio h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.beneficio p{
    max-width: 350px;
    margin: 0 auto;
}

.iconos{
    width: 1.5rem;
    padding-bottom: 0.625rem;
}

.first{
    border-right: 1px solid var(--color-blanco);
}

.about{
    padding: 2rem;
}


/* seccion de productos*/

.btn-consultar{
    /*display: inline-block;
    margin-top: 10px;*/
    padding: 10px 20px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    
    background-color: var(--color-btn);
    color: white;
    
    text-decoration: none;
    border-radius: 8px;
    
    transition: .3s;
}

.btn-consultar:hover{
    background-color: var(--color-btn-hover);
    transform: translateY(-2px);
}

.img-producto{
    width: 100%;
    height: 220px;
    object-fit: contain;
    transition:.3s;
    cursor:pointer;
}


/*.img-producto:hover{
    transform:scale(1.05);
}*/

.nombre-producto{
    min-height: 90px;
    margin-bottom: 8px;
    text-align: center;
}

.descripcion-producto{
    margin-bottom: 15px;
    text-align: center;
}

.producto{
    padding: 15px;
}

.producto:hover{
    border: 1px solid #3333333d;
    border-radius: 15px;
    padding: 10px;
}



/* footer */


.footer-herb {
    background: var(--fondo-claro);
    padding: 60px 0 20px;
    margin-top: 80px;
    border-top: 0.5px solid #d1cbcb;
}

.footer-herb h4, h5{
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-herb p {
    color: var(--color-text);
    line-height: 1.7;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: var(--color-text);
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    font-weight: bolder;
}

.footer-herb hr {
    margin: 30px 0 20px;
}

.p-emprein{
    padding-left: 3rem;
    margin: 0;
}

.link-emprein{
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}

.logo-emprein{
    width: 1.7rem;
    border-radius: 100%
}


.btn-contacto{
    background-color: var(--color-btn) !important;
    border: none !important;
}
.btn-contacto:hover{
    background-color: var(--color-btn-hover) !important;
    transform: translateY(-2px);
}


/* VENTANA MODAL */

.modal-producto{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:9999;
}

.contenido-modal{

    width:420px;
    max-width:90%;

    background:white;
    border-radius:15px;

    padding:30px;

    text-align:center;

    position:relative;
}

.contenido-modal img{

    width:180px;
    height:180px;
    object-fit:contain;
    margin-bottom:15px;

}

.cerrar{

    position:absolute;

    top:15px;
    right:20px;

    font-size:32px;
    cursor:pointer;
}









@media (max-width: 768px){
    .first{
        border: none;
        border-bottom: 1px solid var(--color-blanco);
    }

    .img-producto{
        height: 180px;
    }

    .nombre-producto{
        min-height: auto;
        font-size: 1.8rem;
    }

    .card-producto{
        text-align: center;
        margin-bottom: 40px;
    }

    .btn-consultar{
        width: 100%;
        max-width: 200px;
        margin: 15px auto 0 auto;
    }

}


